@using HelpingHands.Models
@model List<PreferredSuburbVM>

@{
    Layout = "_NurseSuburbs";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}



<section class="section profile">
    <div class="row">
        <div class="col-lx-12">
            
               
                    <div class="tab-content pt-3">
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <form method="post" action="@Url.Action("AddPreferredSuburb")">
                                <div class="row mb-3">
                                    <div class="col-lg-5">
                                        <h4>Available Suburbs</h4>
                                        <select  asp-items="@ViewBag.SuburbList" id="availableConditions" name="conditionId" class="form-select" multiple aria-label="multiple select example">
                                           
                                        </select>
                                    </div>
                                    <div class="col-lg-2">
                                        <br />
                                        <br />
                                        <button class="btn btn-primary" id="moveToLeft" style="color:#fff; background-color:#16697a;">&lt;</button>
                                        <button class="btn btn-primary" id="moveToRight" style="color:#fff; background-color:#16697a;">&gt;</button>
                                    </div>
                                    <div class="col-lg-5">
                                        <h4>Selected Suburb</h4>
                                        <select class="form-select" multiple aria-label="multiple select example" id="selectedConditions" name="conditionId">
                                        </select>
                                    </div>
                                    <div class="text-right">
                                        <br />
                                        <button type="submit" class="btn btn-primary" style="color:#fff; background-color:#16697a;" new="i">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                
            
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(function () {
        $('#moveToRight, #moveToLeft').click(function (event) {
            event.preventDefault();
            if ($(this).attr('id') === 'moveToRight') {
                $('#availableConditions option:selected').each(function () {
                    $(this).remove().appendTo('#selectedConditions');
                });
            } else {
                $('#selectedConditions option:selected').each(function () {
                    $(this).remove().appendTo('#availableConditions');
                });
            }
        });

        let successMessage = "@TempData["SuccessMessage"]";
        let errorMessage = "@TempData["ErrorMessage"]";

        if (successMessage !== "") {
            // Display success message using Bootstrap alert
            $('#alertDiv').html('<div class="alert alert-success">' + successMessage + '</div>');
        } else if (errorMessage !== "") {
            // Display error message using Bootstrap alert
            $('#alertDiv').html('<div class="alert alert-danger">' + errorMessage + '</div>');
        }
    });
</script>
